<!DOCTYPE html>
<html>
    <head>
        <title>Product List</title>
    </head>
    <body>
        <div class="container">
        <h3><a href="/products/create">Create Product</a></h3>
        <h1>Product List</h1>
            {% if products is not empty %}
                <table>
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td><a href="/products/show/{{ product._id }}">{{ product.name }}</a></td>
                            <td>{{ product.price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div>No products found.</div>
            {% endif %}
        </div>
    </body>
</html>
